<div class="container">

    <div class="col-sm-4 col-md-4 col-lg-4 mb-4"> 
        <label>Categories </label> 
        <select class="form-control form-control-lg"   id="idCat" name="idCat"
         [(ngModel)]="IdCategorie" (change)="onChange()">
          <option *ngFor="let cat of categories" value="{{cat.idCat}}">
               {{cat.nomCat}} 
         </option>
    </select> 
   </div>


   

    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr> <th>Id</th><th>Nom</th> <th>Prix</th>  <th>Catégorie</th> </tr>
                </thead>
                <tbody *ngFor="let a of animals">
                    <tr>
                        <td>{{a.id}}</td>
                        <td>{{a.nom}}</td>
                        <td>{{a.age}}</td>
                        
                        <td>{{a.animalCategory.nomCat}}</td> 
                       <!--  <td><a class="btn btn-danger" (click)="supprimerProduit(produit)">Supprimer</a></td>
                        <td><a class="btn btn-success" [routerLink]="['/updateProduit',produit.idProduit]">Modifier</a></td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>